#heading{
   font-size: 5rem;
   color: red;
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 15rem;
}#button{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: red;
   background-color: black;
}div{
    display: flex;
    flex-direction: row;
    justify-content: center;

} 
  
  
